<style>
    .text {
        color: #784421;
    }
</style>

<MudNavMenu>
    <MudNavLink Class="text" Href="/menu">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Меню
    </MudNavLink>
    <MudNavLink Class="text" Href="/employees_list">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Раздел меню
    </MudNavLink>
    <MudNavLink Class="text" Href="/report_list">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Раздел меню
    </MudNavLink>
</MudNavMenu>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
